<div class="wrapper">
  <div class="inner">
    <img src="../../../assets/images/image-1.png" alt="" class="image-1">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <div class="items">
        <nz-form-item>
          <nz-form-label style="float: left; display: flex;" [nzSm]="10" [nzXs]="24" nzFor="username" nzRequired
            nzTooltipTitle="Tên bạn muốn được gọi khi dùng web là gì?">
            <span>Tên đăng nhập</span>
          </nz-form-label>
          <nz-form-control class="form-holder" [nzSm]="14" [nzXs]="24" nzErrorTip="Hãy điền tên đăng nhập!">
            <input class="form-control" nz-input id="username" formControlName="username" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label style="float: left; display: flex;" [nzSm]="10" [nzXs]="24" nzRequired
            nzFor="email">E-mail</nz-form-label>
          <nz-form-control class="form-holder" [nzSm]="14" [nzXs]="24" nzErrorTip="Hãy điền email!">
            <input nz-input class="form-control" formControlName="email" id="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label style="float: left; display: flex;" [nzSm]="10" [nzXs]="24" nzFor="password" nzRequired>Mật
            khẩu</nz-form-label>
          <nz-form-control class="form-holder" [nzSm]="14" [nzXs]="24" nzErrorTip="Hãy điền mật khẩu!">
            <nz-input-group>
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input class="form-control" type="password"
              id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()" />
            <span style="float: right; left: 75% !important; width: auto;" class="icon-pass form-control" nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></span>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label style="float: left; display: flex;" [nzSm]="10" [nzXs]="24" nzFor="checkPassword"
            nzRequired>Nhập lại mật khẩu</nz-form-label>
          <nz-form-control class="form-holder" [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
            <nz-input-group>
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input class="form-control" 
              type="password" formControlName="checkPassword" id="checkPassword" />
              <span style="float: right; left: 75% !important; width: auto;" class="icon-pass form-control" nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></span>
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Hãy nhập lại mật khẩu!</ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Mật khẩu nhập lại không trùng khớp!
                </ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label style="float: left; display: flex;" [nzSm]="12" [nzXs]="24" nzFor="role" nzRequired>Bạn đăng ký
            với tư cách là </nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Hãy chọn một trong hai lựa chọn trên!">
            <nz-radio-group formControlName="role">
              <label nz-radio nzValue="1">Học sinh</label>
              <label nz-radio nzValue="2">Giáo viên</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control>
            <button nz-button [nzLoading]="isButtonLoading">Đăng ký</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
    <img src="../../../assets/images/image-2.png" alt="" class="image-2">
  </div>

</div>