<ng-template #template>
  <div class="ant-notification-notice-content" style="border-radius: 15px;">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon">
        <i class="fa-regular fa-face-sad-cry"></i>
      </span>
      <div class="ant-notification-notice-message" style="color: #389e0d !important;"></div>
      <div class="ant-notification-notice-description">
        {{ messageNotification }}
      </div>
    </div>
  </div>
</ng-template>

<h6 style="color: #7D7D7D; font-size: 18px; font-weight: 600;">Khóa học của tôi</h6>

<div class="container-fluid" style="padding-left: 0;">
  <div class="slider-wrap">
    <div class="slider-main">
      <div *ngFor="let item of listClass; let i = index" class="item" [routerLink]="['/courses', item.name]">
        <div class="text" style="cursor: pointer;">
          <nz-card [style]="'width: 350px; border-radius: 8px;'" [nzBordered]="false" [nzTitle]="item.name"
            [nzExtra]="extraTemplate">
            <p style="color: rgba(0, 0, 0, 0.6);" nz-typography nzEllipsis [nzEllipsisRows]="2">
              {{item.description}}</p>

            <div style="margin-top: 1rem;" class="courses">
              <div>
                <div style="margin-bottom: 0.5rem;">
                  <i class="fas fa-calendar-days" style="color: #828282; margin-right: 0.5rem;"></i>
                  <span style="color: #828282;">{{ item.schedule }}</span>
                </div>
                <div style="margin-bottom: 0.5rem;">
                  <i class="fas fa-clock" style="color: #828282; margin-right: 0.5rem;"></i>
                  <span style="color: #828282;">{{ item.timeDetail }}</span>
                </div>
              </div>
              <div style="margin-bottom: 0.5rem;">
                <i class="fas fa-user" style="color: #828282; margin-right: 0.5rem;"></i>
                <span style="color: #828282;">{{ item.teacherName }}</span>
              </div>
            </div>

            <div>
              <h6 style="font-size: 14px; color: #121212; margin-top: 0.5rem; margin-bottom: 0.8rem;">Bạn
                cùng lớp</h6>
              <div style="display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                  <nz-avatar-group>
                    <nz-avatar
                      nzSrc="https://www.nicepng.com/png/detail/971-9717270_girl-avatar-download-png-image-cartoon.png"></nz-avatar>
                    <nz-avatar
                      nzSrc="https://img.freepik.com/premium-vector/flat-design-character-illustration-character-cartoon-avatar-vector-design-face-girl-boy_659115-35.jpg"
                      style="background-color: #f56a00" nzText="U"></nz-avatar>
                    <nz-avatar
                      nzSrc="https://static.vecteezy.com/system/resources/previews/028/597/534/original/young-cartoon-female-avatar-student-character-wearing-eyeglasses-file-no-background-ai-generated-png.png"
                      style="background-color: #f56a00" nzText="U"></nz-avatar>
                    <nz-avatar
                      nzSrc="https://png.pngtree.com/png-vector/20240204/ourlarge/pngtree-avatar-job-student-flat-portrait-of-man-png-image_11606889.png"
                      style="background-color: #f56a00" nzText="U"></nz-avatar>
                  </nz-avatar-group>
                  <span style="color: #595959; margin-left: 0.5rem;">+ {{ item.memberList }} người bạn
                    khác</span>
                </div>
                <nz-badge [nzCount]="5">
                  <i class="fas fa-comments"
                    style="color: #828282; margin-right: 0.5rem; font-size: 1rem; float: right;"></i>
                </nz-badge>
              </div>
            </div>
            <ng-template #extraTemplate>
              <nz-tag [nzColor]="'#FF4D4F'" style="border-radius: 1rem !important;" *ngIf="item.noti">Nay
                có {{ item.noti }} lúc {{
                item.liveTime }} nha</nz-tag>
            </ng-template>
          </nz-card>
        </div>
      </div>
    </div>
    <div class="button-area">
      <button type="button" class="next" appNext><i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
</div>

<h6 style="color: #7D7D7D; font-size: 18px; font-weight: 600; margin-bottom: 0.5rem;">Các khóa học của chúng mình</h6>

<!-- Các khóa học của chúng mình -->
<ul nz-menu nzMode="horizontal"
  style="background-color: none !important; margin-bottom: 0.5rem;  justify-content: center; display: flex;">
  <li nz-menu-item (click)="selectMenuItem('Tất cả')" [nzSelected]="selectedMenuItem == 'Tất cả'">
    Tất cả
  </li>
  <li nz-menu-item (click)="selectMenuItem('Khóa cơ bản')">
    Khóa cơ bản
  </li>
  <li nz-menu-item (click)="selectMenuItem('Khóa nâng cao')">
    Khóa nâng cao
  </li>
  <li nz-menu-item (click)="selectMenuItem('Luyện đề theo tỉnh thành')">
    Luyện đề theo tỉnh thành
  </li>
</ul>

<div style="margin-left: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: center;">
  <div class="search-group">
    <div style="margin-left: 1.5rem; width: 400px;">
      <label>Tìm kiếm theo tên khóa học hoặc giáo viên: </label>
      <nz-input-group style="border-radius: 16px; width: 400px;" [nzSuffix]="suffixIconSearch">
        <input type="text" [(ngModel)]="courseName" nz-input placeholder="Nhập tên khóa học" style="margin-right: 1rem;" />
        <input type="text" [(ngModel)]="teacherName" nz-input placeholder="Nhập tên giáo viên" />
      </nz-input-group>
      {{courseName}}

      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>
    <div style="margin-top: 1rem;">
      <button (click)="resetValueSelected()" nz-button nzType="dashed" nzShape="circle"
        style="padding: 0.3rem 0.8rem 0.3rem 0.8rem; border: none; margin-right: 1rem;">
        <span nz-icon>
          <i class="fas fa-trash"></i>
        </span>
        Đặt lại
      </button>

      <button [nzLoading]="isLoading" (click)="searchCourse()" nz-button nzType="primary"
        style="background-color: #110D59; padding: 0.3rem 0.8rem 0.3rem 0.8rem; border: none;" nzShape="circle">
        <span nz-icon nzType="search"></span>
        Tìm kiếm
      </button>
    </div>
  </div>
  <nz-checkbox-wrapper style="width: 60%;" (nzOnChange)="onChangeSelectedSubject($event)">
    <div nz-row>
      <div *ngFor="let item of checkOptions" nz-col nzSpan="6" style="margin-bottom: 0.5rem;">
        <label nz-checkbox [nzValue]="item.value" [(ngModel)]="item.checked">
          {{ item.label }}
        </label>
      </div>
    </div>
  </nz-checkbox-wrapper>
</div>

<div *ngIf="!isLoading" style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: flex-start;">
  <nz-card *ngFor="let item of listCourse" (click)="getCourseDetail(item.ID_COURSE)"
    style="max-width:305px; border-radius: 8px; margin-right: 1rem; margin-bottom: 1rem; cursor: pointer;">
    <img style="border-radius: 16px;" width="100%" [src]="item.AVATAR_COURSE" alt="" />
    <div style="margin: 0.5rem 0; display: flex; align-items: center; justify-content: space-between">
      <div>
        <nz-tag style="border-radius: 16px;" [nzColor]="getCategoryNameColor(item.CATEGORY_NAME)">
          {{ item.CATEGORY_NAME }}
        </nz-tag>
        <nz-tag style="border-radius: 16px;" [nzColor]="getCourseTypeColor(item.TYPE_COURSE)">
          {{ getCourseType(item.TYPE_COURSE) }}
        </nz-tag>
      </div>
      <div>
        <i style="color: #D9D9D9;" class="fas fa-clock"></i>
        <span style="margin-left: 0.3rem; color: #696984; font-size: 0.7rem">Khoảng {{
          calculateMonthsDifference(item.START_DATE, item.END_DATE) }} tháng</span>
      </div>
    </div>

    <div style="margin: 0.5rem 0 1rem 0;">
      <h6 style="font-size: 1rem; min-height: 2.5rem;">{{ item.COURSE_NAME }}</h6>
      <p style="color: #696984; margin: 0; padding: 0;"><strong>{{ item.LESSON_QUANTITY }}</strong> Bài giảng</p>
      <p style="color: #696984; margin: 0; padding: 0;"><strong>{{ item.QUIZ_QUANTITY }}</strong> Câu hỏi ôn tập</p>
    </div>

    <div style="display: flex; align-items: center; justify-content: space-between">
      <div>
        <nz-avatar [nzSrc]="item.TEACHER_INFO.AVATAR"></nz-avatar>
        <span style="margin-left: 0.3rem;">{{ item.TEACHER_INFO.USERNAME }}</span>
      </div>
      <div style="display: flex; align-items: center; justify-content: space-between">
        <p style="color: #808080; margin: 0; padding: 0; font-size: 1rem;"><em><s>{{ item.PRICE }}K</s></em></p>
        <p style="color: #49BBBD; margin: 0; padding: 0; font-size: 1.2rem; margin-left: 0.5rem;"><strong>
            {{ item.DISCOUNT }}K</strong></p>
      </div>
    </div>
  </nz-card>
</div>

<nz-skeleton *ngIf="isLoading"></nz-skeleton>

<app-no-result *ngIf="listCourse.length < 1 && !isLoading"></app-no-result>

<div style="display: flex; justify-content: center; margin-top: 0.6rem;">
  <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="totalCourses" [nzPageSize]="8"
    (nzPageIndexChange)="onPageChange($event)">
  </nz-pagination>
</div>