<nz-card style="width:100%; border-radius: 15px; background-color: rgba(73, 187, 189, 0.5); margin-bottom: 0.5rem" [style.background-color]="getRandomColor()">
  <div class="schedule-card" style="width:100%;">
    <nz-badge nzColor="#3649F9" nzText="" style="margin-right: 6px"></nz-badge>
    <div style="margin: -0.7rem 0; display: flex; align-items: center; justify-content: space-between; width: 100%;">
      <div>
        <p style="font-size: 14px; margin-bottom: 4px"><strong>{{ time }}: {{ subject }}</strong></p>
        <p style="font-size: 12px; color: #41475E; margin-bottom: 0">{{ lessonName }}</p>
      </div>
      <i style="float: right" class="fas fa-angle-right"></i>
    </div>
  </div>
</nz-card>
