<div style="display: flex; align-items: center;">
    <i class="fas fa-chevron-left" style="color: #7D7D7D; margin-right: 1rem; font-size: 18px; "></i>
    <h6 style="color: #7D7D7D; font-size: 18px; font-weight: 600; margin-bottom: 0;">Chi tiết khóa học</h6>
</div>

<div style="display: flex; justify-content: space-between; align-items: flex-start;">

    <!-- Giới thiệu khóa học -->
    <nz-card style="width:65%; margin-top: 1rem; border-radius: 1rem;">
        <h6 style="font-size: 1.1rem; margin-bottom: 1rem;">Tổng ôn kiến thức Toán 9 các dạng Nâng cao</h6>
        <div style="margin: 0.5rem 0 1.5rem 0; display: flex; align-items: center; justify-content: space-between">
            <div>
                <nz-tag style="border-radius: 16px;" [nzColor]="'blue'">
                    Toán
                </nz-tag>
                <nz-tag style="border-radius: 16px;" [nzColor]="'magenta'">
                    Nâng cao
                </nz-tag>
                <i style="color: #D9D9D9;" class="fas fa-clock"></i>
                <span style="margin-left: 0.3rem; color: #696984;">3 tháng</span>
            </div>
        </div>
        <div style="margin-top: 1rem;">
            <img style="width: 100%; border-radius: 8px; margin-bottom: 1rem;"
                src="https://static.wixstatic.com/media/eb73de_243b7e0b32664301992de19d06fb39f6~mv2.jpg/v1/fill/w_1899,h_429,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/eb73de_243b7e0b32664301992de19d06fb39f6~mv2.jpg"
                alt="">
            <button
                style="width: 100%; display: flex; justify-content: center; align-items: center; background-color: #F18524 !important; border: none;"
                nz-button nzType="primary" nzShape="round">
                <span style="font-size: 14px; color: #fff;">Học tiếp thôi</span>
                <span nz-icon nzType="play-circle" nzTheme="fill" style="font-size: 18px; color: #fff;"></span>
            </button>
        </div>
        <div style="margin-top: 1rem;">
            <nz-tabset (nzSelectedIndexChange)="onTabChange($event)">
                <nz-tab [nzTitle]="customizeTab1">
                    <ng-template #customizeTab1>
                        <span [ngClass]="{'tabs-custome': activeTab === 1, 'tabs-custome-active': activeTab !== 1}">
                            Mô tả
                        </span>
                    </ng-template>
                    <div>
                        <h6 style="color: #7D7D7D; font-size: 14px; font-weight: 600; margin-bottom: 0.5rem;">Mô tả khóa
                            học
                        </h6>
                        <p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="3" style="color: #696984;">
                            4 năm học THCS trôi qua rất nhanh. Các em đang đứng trước giai đoạn quan trọng sau suốt 9
                            năm
                            liền cắp sách tới trường. Vì thế, việc lựa chọn 1 khóa học phù hợp để giúp các trang bị hành
                            trang giúp các em này nọ kia là rất quan trọng. Hãy cân nhắc kỹ lưỡng và chọn lựa một khóa
                            học
                            mà các em thực sự quan tâm và tin tưởng vào khả năng của mình. Hành trang kiến thức và kỹ
                            năng
                            mà các em tích lũy được sẽ là nền tảng quan trọng cho sự phát triển và thành công trong
                            tương
                            lai.
                        </p>
                        <h6 style="color: #7D7D7D; font-size: 14px; font-weight: 600; margin-bottom: 0.5rem;">
                            Cấu trúc khóa học thông qua lộ trình học tập 4 bước:
                        </h6>
                        <div style="color: #696984;">
                            <ul>
                                <li>
                                    Trang bị các nội dung một cách chi tiết và sáng tạo, giúp học sinh xây dựng gốc kiến
                                    thức, hiểu sâu và bài bản nội dung theo chương trình SGK.
                                </li>
                                <li>
                                    Hệ thống câu hỏi luyện tập được xây dựng chi tiết theo từng bài học, học sinh được
                                    luyện
                                    tập ngay sau khi học video bài giảng
                                </li>
                            </ul>
                        </div>
                        <h6 style="color: #7D7D7D; font-size: 14px; font-weight: 600; margin-bottom: 0.5rem;">
                            Các yêu cầu khóa học
                        </h6>
                        <div style="color: #696984;">
                            <ul>
                                <li>Học sinh cần học tập bám sát sách giáo khoa, đọc kĩ tác phẩm</li>
                                <li>Ghi chép bài cẩn thận, học bài giảng một cách nghiêm túc, tự giác</li>
                            </ul>
                        </div>
                        <h6 style="color: #7D7D7D; font-size: 14px; font-weight: 600; margin-bottom: 0.5rem;">
                            Kết quả học tập
                        </h6>
                        <div style="color: #696984;">
                            <ul>
                                <li>Vững toàn bộ kiến thức về tác phẩm trong chương trình Ngữ văn lớp 9</li>
                                <li>Bước đầu xây dựng các kĩ năng làm văn, đọc hiểu văn bản trong chương trình lớp 9.
                                </li>
                            </ul>
                        </div>
                        <h6 style="color: #7D7D7D; font-size: 14px; font-weight: 600; margin-bottom: 0.5rem;">
                            Đối tượng
                        </h6>
                        <div style="color: #696984;">
                            <ul>
                                <li>Học sinh lớp 9 muốn chủ động tham khảo chương trình hoặc học lại kiến thức đã học
                                    trên
                                    lớp.</li>
                                <li>Giáo viên tham khảo để chuẩn bị cho bài giảng trên lớp.</li>
                            </ul>
                        </div>
                    </div>
                </nz-tab>

                <nz-tab [nzTitle]="customizeTab2">
                    <ng-template #customizeTab2>
                        <span [ngClass]="{'tabs-custome': activeTab === 2, 'tabs-custome-active': activeTab !== 2}">
                            Reivews
                        </span>
                    </ng-template>

                    <div style="background-color: rgba(157, 204, 255, 0.15); padding: 1rem; border-radius: 15px;">
                        <div style="display: flex; margin-bottom: 1rem;">
                            <div class="rating-course">
                                <span style="font-size: 16px;">Đánh giá</span>
                                <span style="font-size: 20px;">4/5</span>
                                <nz-rate [ngModel]="4" nzDisabled></nz-rate>
                            </div>
                            <div style="width: 60%;">
                                <div *ngFor="let item of ratings" class="star-item">
                                    <span>{{item.type}}</span>
                                    <nz-progress nzSize="small" style="width: 80%;" [nzStrokeColor]="'#002766'"
                                        [nzPercent]="item.percent">
                                    </nz-progress>
                                </div>
                            </div>
                        </div>

                        <nz-comment style="background-color: rgba(157, 204, 255, 0);" *ngFor="let item of comments" nzAuthor="{{ item.author }}" [nzDatetime]="item.time">
                            <nz-avatar nz-comment-avatar nzIcon="user"
                                nzSrc="https://png.pngtree.com/png-clipart/20220111/original/pngtree-cute-little-girl-avatar-png-image_7085472.png"></nz-avatar>
                            <nz-comment-content>
                                <p>
                                    {{ item.content }}
                                </p>
                            </nz-comment-content>
                            <nz-comment-action>
                                <span nz-tooltip nzTitle="Like" nz-icon nzType="like"
                                    [nzTheme]="item.like > 0 ? 'twotone' : 'outline'" (click)="like()"></span>
                                <span class="count like">{{ item.like }}</span>
                            </nz-comment-action>
                            <nz-comment-action>
                                <span nz-tooltip nzTitle="Dislike" nz-icon nzType="dislike"
                                    [nzTheme]="item.dislike > 0 ? 'twotone' : 'outline'" (click)="dislike()"></span>
                                <span class="count dislike">{{ item.dislike }}</span>
                            </nz-comment-action>
                        </nz-comment>
                    </div>
                </nz-tab>

                <nz-tab [nzTitle]="customizeTab3">
                    <ng-template #customizeTab3>
                        <span [ngClass]="{'tabs-custome': activeTab === 3, 'tabs-custome-active': activeTab !== 3}">
                            Tài liệu
                        </span>
                    </ng-template>

                    <div style="width: 100%;">
                        <app-file-info *ngFor="let item of files" [fileType]="item.fileType"
                        [isDownloaded]="item.isDownloaded"
                        [fileName]="item.fileName"
                        [fileSize]="item.fileSize"
                        [isDownloading]="item.isDownloading">
                        </app-file-info>
                    </div>
                </nz-tab>
            </nz-tabset>


        </div>
    </nz-card>

    <div style="width:33%;">
        <!-- Giới thiệu giáo viên -->
        <nz-card style="margin-top: 1rem; border-radius: 1rem;">
            <h6 style="color: #252641; font-size: 16px; margin-bottom: 1rem;">Giáo viên</h6>

            <div style="display: flex;">
                <div style="margin-right: 1rem;">
                    <nz-avatar [nzSize]="50"
                        nzSrc="https://img.freepik.com/free-photo/asian-woman-teacher-with-notebooks-smiling-looking-confident-isolated-white-background_1258-166523.jpg"></nz-avatar>
                </div>
                <div style="width: 100%;">
                    <div style="display: flex; justify-content: space-between; 
                align-items: center; margin-bottom: 0.2rem;
                width: 100%; float: right;">
                        <h6 style="color: #252641; font-size: 15px; margin-bottom: 0rem;">Ngô Thị Lan</h6>
                        <div>
                            <a style="color: #3649F9 !important;" href="">Xem thêm <i
                                    class="fas fa-angles-right"></i></a>
                        </div>
                    </div>
                    <div>
                        <p style="font-size: 14px; font-weight: 200; color: #7A7E86; 
                        font-family: ReadexPro-light; margin-bottom: 0.5rem">
                            Giáo viên toán Trường THPT Nguyễn Trường Tộ</p>
                    </div>
                </div>
            </div>

            <div class="list-social-link">
                <div class="item-social">
                    <i style="font-size: 16px;" class="fa-brands fa-facebook"></i>
                </div>
                <div style="background-color: #FF0000;" class="item-social">
                    <i style="font-size: 16px;" class="fa-brands fa-youtube"></i>
                </div>
                <div class="item-social">
                    <i style="font-size: 16px;" class="fa-brands fa-instagram"></i>
                </div>
                <div class="item-social">
                    <i style="font-size: 16px;" class="fa-brands fa-linkedin"></i>
                </div>
                <div class="item-social">
                    <i style="font-size: 16px;" class="fa-brands fa-whatsapp"></i>
                </div>
            </div>

            <div>
                <ul>
                    <li>
                        <p style="font-size: 14px; font-weight: 200; color: #7A7E86; 
                        font-family: ReadexPro-light; margin-bottom: 0.2rem">
                            Với hơn 20 năm kinh nghiệm giảng dạy môn Toán, cô là một nhà giáo yêu nghề, gắn bó sâu sắc
                            với học sinh.</p>
                    </li>
                    <li>
                        <p style="font-size: 14px; font-weight: 200; color: #7A7E86; 
                        font-family: ReadexPro-light; margin-bottom: 0.2rem">
                            Với hơn 20 năm kinh nghiệm giảng dạy môn Toán, cô là một nhà giáo yêu nghề, gắn bó sâu sắc
                            với học sinh.</p>
                    </li>
                </ul>
            </div>
        </nz-card>

        <!-- Nội dung khóa học -->
        <nz-card style="margin-top: 1rem; border-radius: 1rem;">
            <h6 style="color: #252641; font-size: 16px; margin-bottom: 0.5rem;">Nội dung khóa học</h6>
            <h6 style="color: #002766; font-size: 14px; text-transform: uppercase;">2/5 HOÀN THÀNH</h6>

            <nz-progress [nzStrokeColor]="'#002766'" [nzPercent]="40"></nz-progress>

            <nz-collapse [nzExpandIconPosition]="'right'" nzGhost style="margin-top: 1rem; border-radius: 1rem;">
                <nz-collapse-panel *ngFor="let panel of panels" style="border-radius: 1rem; 
                    border: 2px solid #002766; padding: 0 0; margin-bottom: 0.5rem;" #p [nzHeader]="panelHeader"
                    [nzActive]="panel.active" [ngStyle]="panel.customStyle"
                    [nzExpandedIcon]="!$first ? panel.icon || expandedIcon : undefined">

                    <ng-template #panelHeader>
                        <div style="display: flex; flex-direction: column; width: 90%;">
                            <p style="font-size: 17px; margin-bottom: 0.2rem;">{{ panel.name }}</p>
                            <div style="display: flex; justify-content: space-between;">
                                <p style="font-size: 14px; margin-bottom: 0; padding-left: 1.5rem;"><i
                                        class="fa-regular fa-clock"></i> {{ panel.time }}</p>
                                <p style="font-size: 14px; margin-bottom: 0;"><i class="fa-solid fa-book"></i>
                                    {{panel.lesson.length}} bài học</p>
                            </div>
                        </div>
                    </ng-template>

                    <!-- Content -->
                    <div class="content-lesson" 
                    *ngFor="let item of panel.lesson; let i=index"
                    [routerLink]="['/courses/learning', item.name]"
                    >
                        <p style="margin-bottom:0; font-size: 15px;">{{i+1}}. {{ item.name }}</p>
                        <p style="margin-bottom:0; font-size: 14px;">{{ item.time }}</p>
                    </div>

                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <span nz-icon nzType="caret-right" class="ant-collapse-arrow"
                            [nzRotate]="p.nzActive ? 90 : -90"></span>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>
        </nz-card>
    </div>
</div>