<div class="data-table">
  <div class="content-main">
    <h5 style="text-align: center;">List agreements</h5>
  </div>

  <nz-table #columnTable [nzData]="listOfData" [nzScroll]="{ x: '100rem' }" [nzPageSize]="8" [nzLoading]="isLoading">
    <thead>
      <tr>
        <!-- <th [nzWidth]="'4rem'" nzLeft>STT</th> -->
        <th [nzWidth]="'9rem'" nzLeft>Deadline</th>
        <th>Importer</th>
        <th>Exporter</th>
        <th>Issuing Bank</th>
        <th>Advising Bank</th>
        <th>Commodity</th>
        <th>Price</th>
        <th>Payment method</th>
        <th>Note</th>
        <th>Status</th>
        <th nzRight [nzWidth]="'5rem'">Detail</th>
        <th nzRight [nzWidth]="'5rem'"><span *ngIf="role == 'user'">Delete</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of columnTable.data; let i = index">
        <!-- <td nzLeft>{{ i + 1 }}</td> -->
        <td nzLeft>{{ data.deadlineInDate }}</td>
        <td>{{ data.importer }}</td>
        <td>{{ data.exporter }}</td>
        <td>{{ data.issuingBank }}</td>
        <td>{{ data.advisingBank }}</td>
        <td>{{ data.commodity }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.paymentMethod }}</td>
        <td>{{ data.additionalInfo }}</td>
        <td>{{ data.status }}</td>
        <td nzRight>
          <a><span style="color: #2F54EB;" nz-icon nzType="eye" nzTheme="outline"
              [routerLink]="['/agreements', data.salescontract_id]"></span></a>
        </td>
        <td nzRight>
          <span *ngIf="username == data.importer && role == 'user' && data.status == 'created'" style="color: #ff4d4f; cursor: pointer;" (click)="showDeleteConfirm(data.salescontract_id)" nz-icon
            nzType="delete" nzTheme="outline"></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>