.video-continue {
  background-image: url("https://cdn.create.vista.com/downloads/7d8ef085-6136-4cc5-af71-3c651a3a4de5_640.jpeg");
  background-size: cover; /* Thay đổi kích thước ảnh để lấp đầy khung */
  height: 35vh; /* Chiều cao là 20% chiều cao của màn hình */
  width: 55vw;
  display: flex; /* Hiển thị nội dung bên trong theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  border-radius: 15px;
  flex-direction: column;
  cursor: pointer;
  transition: background-size 1s ease, background-position 1s ease; /* Chuyển động mượt mà trong 0.3 giây */
}

.inner-video {
  display: flex; /* Hiển thị nội dung bên trong theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  flex-direction: column;
}

.content-video {
  color: #fff;
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.video-icon {
  height: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.video-continue:hover .video-icon {
  transform: scale(1.2); /* Phóng to icon khi hover */
}

.living-video {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
