<div class="wrap">
    <app-doc-file *ngIf="fileType == 'docs'"></app-doc-file>
    <app-pdf-file *ngIf="fileType == 'pdf'"></app-pdf-file>
    <app-exel-file *ngIf="fileType == 'exel'"></app-exel-file>
    <div class="info">
        <div class="info-detail">
            <p style="font-family: ReadexPro-regular; font-size: 14px;">{{ fileName }}</p>
            <p style="font-family: ReadexPro-regular; font-size: 14px;">{{ fileSize }}</p>
            <p *ngIf="isDownloading" style="color: #121212; font-size: 14px;">Hủy tải</p>
            <p *ngIf="!isDownloaded" style="color: #7784EE; font-size: 14px;">Tải xuống</p>
        </div>
        <div>
            <nz-progress *ngIf="isDownloading" [nzPercent]="90" nzSize="small"></nz-progress>
            <p *ngIf="!isDownloading && fileType == 'excel'" style="font-family: ReadexPro-light; font-size: 13px;">Exel file</p>
            <p *ngIf="!isDownloading && fileType == 'pdf'" style="font-family: ReadexPro-light; font-size: 13px;">Pdf file</p>
            <p *ngIf="!isDownloading && fileType == 'docs'" style="font-family: ReadexPro-light; font-size: 13px;">Docs file</p>
        </div>
    </div>
</div>