<div class="data-table">
  <div class="content-main">
    <h5 style="text-align: center;">List LCs</h5>
  </div>

  <nz-table #basicTable [nzData]="listOfData" [nzPageSize]="8" [nzLoading]="isLoading">
    <thead>
      <tr>
        <!-- <th>STT</th> -->
        <th>Sale contract</th>
        <th>Start date</th>
        <th>Status</th>
        <th>Detail</th>
        <th *ngIf="role=='user'">Upload document</th>
        <th>Event Contract</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <!-- <td>{{ i + 1 }}</td> -->
        <td><a style="color: #2F54EB;" [routerLink]="['/agreements', data.salesContract]">{{ data.salesContract }}</a>
        </td>
        <td>{{ data.startDate }}</td>
        <td [ngStyle]="{'color': getColorByStatus(data.status)}">{{ data.status }}
          <span *ngIf="data.status == 'advising_bank_rejected'" style="color: #f81d22;">
            <br> reason: {{data.rejectedReason}}</span>
        </td>
        <td>
          <a><span style="color: #2F54EB;" nz-icon nzType="eye" nzTheme="outline"
              [routerLink]="['/LCs', data.LCID]"></span></a>
        </td>
        <td *ngIf="role=='user'">
          <a>
            <span nz-tooltip nzTooltipTitle="Can't upload documents" *ngIf="data.status !== 'advising_bank_approved'"
              [style.color]="'#595959'" [ngStyle]="{'cursor': 'default'}" [routerLink]="null" nz-icon nzType="diff"
              nzTheme="outline"></span>
            <span *ngIf="data.status === 'advising_bank_approved'" [style.color]="'#2F54EB'"
              [ngStyle]="{'cursor': 'pointer'}" [routerLink]="['/LCs/upload', data.LCID]" nz-icon nzType="diff"
              nzTheme="outline"></span>
          </a>
        </td>
        <td>
          <a><span style="color: #2F54EB;" nz-icon nzType="eye" nzTheme="outline"
              [routerLink]="['/LCs/event-contract', data.LCID]"></span></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>