<!-- <h5 style="text-align: center;">Request Issuing Letter of Credit</h5> -->
<div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="18">
        <form nz-form [formGroup]="validateRequestLCForm" (ngSubmit)="submitForm()" class="formAgreement">
            <nz-card nzTitle="Applicant" style="margin-bottom: 16px;" id="applicantPart">
                <div style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="applicant">
                                <strong>Applicant</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{validateRequestLCForm.get('applicant').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="applicantLegalName">
                                <strong>Applicant legal name</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{validateRequestLCForm.get('applicantLegalName').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="applicantLEICode">
                                <strong>Applicant LEI code</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{validateRequestLCForm.get('applicantLEICode').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="applicantCode">
                                <strong>Applicant SWIFT/BIC code</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{validateRequestLCForm.get('applicantCode').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzRequired nzFor="applicantAddress">
                                <strong>Applicant address</strong>
                            </nz-form-label>
                            <nz-form-control style="margin: 24px 0 24px 0; min-width: 500px;"
                                nzErrorTip="Please input address">
                                <textarea nz-input formControlName="applicantAddress"
                                    placeholder="{{validateRequestLCForm.get('applicantAddress').value}}"
                                    [nzAutosize]="{ minRows: 3, maxRows: 3 }"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-card>

            <nz-card nzTitle="Beneficiary" style="margin-bottom: 16px;" id="beneficiaryPart">
                <div style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="applicant">
                                <strong>Beneficiary</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{validateRequestLCForm.get('beneficiary').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="beneficiaryLegalName">
                                <strong>Beneficiary legal name</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{validateRequestLCForm.get('beneficiaryLegalName').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="applicantLEICode">
                                <strong>Beneficiary LEI code</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{validateRequestLCForm.get('applicantLEICode').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="applicantCode">
                                <strong>Beneficiary SWIFT/BIC code</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{validateRequestLCForm.get('applicantCode').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzRequired nzFor="beneficiaryAddress">
                                <strong>Beneficiary address</strong>
                            </nz-form-label>
                            <nz-form-control style="margin: 24px 0 24px 0; min-width: 500px;"
                                nzErrorTip="Please input address">
                                <textarea nz-input formControlName="beneficiaryAddress"
                                    placeholder="{{validateRequestLCForm.get('beneficiaryAddress').value}}"
                                    [nzAutosize]="{ minRows: 3, maxRows: 3 }"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-card>

            <nz-card nzTitle="Banks" style="margin-bottom: 16px;" id="banksPart">
                <div style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzRequired nzFor="issuingBank">
                                <strong>Issuing Bank</strong>
                            </nz-form-label>
                            <nz-form-control nzErrorTip="Please input your Issuing Bank">
                                <input type="text" nz-input formControlName="issuingBank"
                                    placeholder="{{validateRequestLCForm.get('issuingBank').value}}" />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Issuing Bank legal name</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{validateRequestLCForm.get('issuingBankLegalName').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="issuingBankLEICode">
                                <strong>Issuing Bank LEI code</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{validateRequestLCForm.get('issuingBankLEICode').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="issuingBankCode">
                                <strong>Issuing Bank SWIFT/BIC code</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{validateRequestLCForm.get('issuingBankCode').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzRequired nzFor="issuingBankBranch">
                                <strong>Issuing Bank Branch</strong>
                            </nz-form-label>
                            <nz-form-control nzErrorTip="Please input Issuing Bank branch">
                                <input type="text" nz-input formControlName="issuingBankBranch"
                                    placeholder="{{validateRequestLCForm.get('issuingBankBranch').value}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-control>
                                <label nz-checkbox formControlName="allowChange">
                                    <span>Allow Issuing Bank to make changes directly to the LC prior to issuance</span>
                                </label>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <nz-divider></nz-divider>

                <div style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzRequired nzFor="issuingBank">
                                <strong>Advising Bank</strong>
                            </nz-form-label>
                            <nz-form-control nzErrorTip="Please input your Advising Bank">
                                <input type="text" nz-input formControlName="advisingBank"
                                    placeholder="{{validateRequestLCForm.get('advisingBank').value}}" />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Advising Bank legal name</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{validateRequestLCForm.get('advisingBankLegalName').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="advisingBankLEICode">
                                <strong>Advising Bank LEI code</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{validateRequestLCForm.get('advisingBankLEICode').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="advisingBankCode">
                                <strong>Advising Bank SWIFT/BIC code</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{validateRequestLCForm.get('advisingBankCode').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzRequired nzFor="advisingBankAddress">
                                <strong>Advising Bank Address</strong>
                            </nz-form-label>
                            <nz-form-control nzErrorTip="Please input Advising Bank address">
                                <input type="text" nz-input formControlName="advisingBankAddress"
                                    placeholder="{{validateRequestLCForm.get('advisingBankAddress').value}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <nz-divider></nz-divider>

                <div style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzRequired nzFor="creditAvaiIableBanks">
                                <strong>Credit avaiIable with</strong>
                            </nz-form-label>
                            <nz-form-control nzErrorTip="Please input Advising Bank address">
                                <nz-select formControlName="creditAvaiIableBanks">
                                    <nz-option *ngFor="let item of bankList" [nzValue]="item"
                                        [nzLabel]="item"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzRequired nzFor="availableByList" style="padding-bottom: 24px;">
                                <strong>Available by</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-checkbox-group formControlName="availableByList"></nz-checkbox-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="paymentConditions" style="padding-top: 32px;">
                                <strong>Payment conditions <em>(optional)</em></strong>
                            </nz-form-label>
                            <nz-form-control style="margin: 24px 0 24px 0; min-width: 500px;">
                                <textarea nz-input formControlName="paymentConditions" placeholder="Write something"
                                    [nzAutosize]="{ minRows: 3, maxRows: 3 }"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-card>

            <nz-card nzTitle="Key terms" style="margin-bottom: 16px;" id="keyItemsPart">
                <div style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Application date</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{validateRequestLCForm.get('date').value}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzRequired nzFor="formOfDocument">
                                <strong>Form of document credit</strong>
                            </nz-form-label>
                            <nz-form-control nzErrorTip="Please input form of document credit">
                                <nz-select formControlName="formOfDocument">
                                    <nz-option *ngFor="let item of formOfDocumentCreditList" [nzValue]="item"
                                        [nzLabel]="item"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzRequired nzFor="applicableRules">
                                <strong>Applicable rules</strong>
                            </nz-form-label>
                            <nz-form-control nzErrorTip="Please input form of document credit">
                                <nz-select formControlName="applicableRules">
                                    <nz-option *ngFor="let item of applicableRules" [nzValue]="item"
                                        [nzLabel]="item"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info" style="margin-bottom: 0 !important;">
                            <nz-form-label nzRequired nzFor="date">
                                <strong>Amount</strong>
                            </nz-form-label>
                            <nz-form-control nzErrorTip="Please input amount">
                                <nz-input-group [nzAddOnAfter]="addOnAfterTemplate" style="width: 50% !important;">
                                    <ng-template #addOnAfterTemplate>
                                        <nz-select formControlName="currencyUnit" style="min-width: 80px !important;">
                                            <nz-option *ngFor="let item of currencyUnitList" [nzValue]="item"
                                                [nzLabel]="item"></nz-option>
                                        </nz-select>
                                    </ng-template>
                                    <input style="min-width: 270px !important;" nz-input type="number" placeholder="0"
                                        formControlName="amount" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="tolerancePLus">
                                <strong>Tolerance <em>(optional)</em></strong>
                            </nz-form-label>
                            <div nz-row>
                                <nz-form-control nz-col [nzSpan]="8">
                                    <nz-input-group nzAddOnBefore="+" nzAddOnAfter="%">
                                        <input type="number" style="min-width: 50px !important;" placeholder="0"
                                            nz-input formControlName="tolerancePLus" />
                                    </nz-input-group>
                                </nz-form-control>
                                <div nz-col [nzSpan]="1"></div>
                                <nz-form-contro nz-col [nzSpan]="8">
                                    <nz-input-group nzAddOnBefore="+" nzAddOnAfter="%">
                                        <input type="number" placeholder="0" style="min-width: 50px !important;"
                                            nz-input formControlName="toleranceMinus" />
                                    </nz-input-group>
                                </nz-form-contro>
                            </div>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" style="margin-top: 0 !important;" class="info">
                            <nz-form-label nzFor="applicableRules">
                                <strong>Additional amount covered <em>(optional)</em> </strong>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-input-group [nzAddOnAfter]="validateRequestLCForm.get('currencyUnit').value">
                                    <input style="min-width: 300px !important;" type="number" placeholder="0" nz-input
                                        formControlName="additionalAmount" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzRequired nzFor="expiredDate">
                                <strong>Expired date</strong>
                            </nz-form-label>
                            <nz-form-control nzErrorTip="Please input date" [nzSm]="16" [nzXs]="24">
                                <nz-date-picker style="width: 350px;" formControlName="expiredDate"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-card>

            <nz-card nzTitle="Shipment details" style="margin-bottom: 16px;" id="shipmentPart">
                <div style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="applicableRules">
                                <strong>Partial shipment <em>(optional)</em></strong>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-select formControlName="applicableRules" nzPlaceHolder="Select partial shipment">
                                    <nz-option *ngFor="let item of shipmentTranshipment" [nzValue]="item"
                                        [nzLabel]="item"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="applicableRules">
                                <strong>Transhipment <em>(optional)</em></strong>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-select formControlName="applicableRules" nzPlaceHolder="Select transhipment">
                                    <nz-option *ngFor="let item of shipmentTranshipment" [nzValue]="item"
                                        [nzLabel]="item"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzRequired nzFor="shipmentDate">
                                <strong>Shipment date/period</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-radio-group formControlName="shipmentDate"
                                    nzErrorTip="Please select shipment date/period">
                                    <label *ngFor="let item of shipmentDateChoice" nz-radio
                                        [nzValue]="item">{{item}}</label>
                                </nz-radio-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="description" style="padding-top: 32px;">
                                <strong>Description of goods and/or services</strong>
                            </nz-form-label>
                            <nz-form-control style="margin: 24px 0 24px 0; min-width: 500px;">
                                <textarea nz-input formControlName="description" placeholder="Write something"
                                    [nzAutosize]="{ minRows: 3, maxRows: 3 }"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-card>

            <nz-card nzTitle="Document details" style="margin-bottom: 16px;" id="documentPart">
                <nz-divider nzText="Document required" [nzPlain]="false" nzOrientation="left"></nz-divider>
                <div style="padding: 0 24px;">
                    <div>
                        <nz-form-item class="document-style" nz-row [nzGutter]="24">
                            <nz-form-label nzRequired nzFor="additionalInformation" nz-col [nzSpan]="4">
                                <strong>Invoice</strong>
                            </nz-form-label>
                            <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" nz-col [nzSpan]="16"
                                [nzHeaders]="{ authorization: 'authorization-text' }" (nzChange)="handleChange($event)">
                                <button nz-button>
                                    <span nz-icon nzType="upload"></span>
                                    Click to Upload File
                                </button>
                            </nz-upload>
                        </nz-form-item>
                    </div>

                    <nz-divider></nz-divider>

                    <div>
                        <nz-form-item class="document-style" nz-row [nzGutter]="24">
                            <nz-form-label nzRequired nzFor="additionalInformation" nz-col [nzSpan]="4">
                                <strong>Transport Document</strong>
                            </nz-form-label>
                            <nz-upload nz-col [nzSpan]="16" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                                [nzHeaders]="{ authorization: 'authorization-text' }" (nzChange)="handleChange($event)">
                                <button nz-button>
                                    <span nz-icon nzType="upload"></span>
                                    Click to Upload File
                                </button>
                            </nz-upload>
                        </nz-form-item>
                    </div>
                    <div>
                        <nz-form-item class="document-style" nz-row [nzGutter]="24">
                            <nz-form-label nzRequired nzFor="additionalInformation" nz-col [nzSpan]="4">
                                Types
                            </nz-form-label>
                            <nz-form-control nz-col [nzSpan]="8">
                                <nz-select formControlName="typeDocument">
                                    <nz-option *ngFor="let item of typeDocuments" [nzValue]="item"
                                        [nzLabel]="item"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <nz-divider></nz-divider>

                    <div>
                        <nz-form-item class="document-style" nz-row [nzGutter]="24">
                            <nz-form-label nzRequired nzFor="additionalInformation" nz-col [nzSpan]="4">
                                <strong>Packing List</strong>
                            </nz-form-label>
                            <nz-upload nz-col [nzSpan]="16" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                                [nzHeaders]="{ authorization: 'authorization-text' }" (nzChange)="handleChange($event)">
                                <button nz-button>
                                    <span nz-icon nzType="upload"></span>
                                    Click to Upload File
                                </button>
                            </nz-upload>
                        </nz-form-item>
                    </div>

                    <nz-divider></nz-divider>

                    <div>
                        <nz-form-item class="document-style" nz-row [nzGutter]="24">
                            <nz-form-label nzRequired nzFor="additionalInformation" nz-col [nzSpan]="4">
                                <strong>Insurance Documents</strong>
                            </nz-form-label>
                            <nz-upload nz-col [nzSpan]="16" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                                [nzHeaders]="{ authorization: 'authorization-text' }" (nzChange)="handleChange($event)">
                                <button nz-button>
                                    <span nz-icon nzType="upload"></span>
                                    Click to Upload File
                                </button>
                            </nz-upload>
                        </nz-form-item>
                    </div>

                    <nz-divider></nz-divider>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="paymentConditions">
                                <strong>Details of charges <em>(optional)</em></strong>
                            </nz-form-label>
                            <nz-form-control style="margin: 24px 0 24px 0; min-width: 500px;">
                                <textarea nz-input formControlName="paymentConditions" placeholder="Write something"
                                    [nzAutosize]="{ minRows: 3, maxRows: 3 }"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="paymentConditions">
                                <strong>Additional conditions by applicant <em>(optional)</em></strong>
                            </nz-form-label>
                            <nz-form-control style="margin: 24px 0 24px 0; min-width: 500px;">
                                <textarea nz-input formControlName="paymentConditions" placeholder="Write something"
                                    [nzAutosize]="{ minRows: 3, maxRows: 3 }"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>


                </div>
            </nz-card>

            <nz-card nzTitle="Leave message (optional)" style="margin-bottom: 16px;" id="messagePart">
                <div nz-row [nzGutter]="24">
                    <div style="padding: 0 24px;">
                        <nz-form-item nz-col [nzSpan]="24" class="info">
                            <nz-form-label nzFor="paymentConditions">
                                <strong>Additional conditions by applicant <em>(optional)</em></strong>
                            </nz-form-label>
                            <nz-form-control style="margin: 24px 0 24px 0; min-width: 500px;">
                                <textarea nz-input formControlName="paymentConditions" placeholder="Write something"
                                    [nzAutosize]="{ minRows: 3, maxRows: 3 }"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-card>
        </form>
    </div>

    <div nz-col [nzSpan]="6">
        <nz-card style="width:100%;" nzTitle="Content">
            <ul nz-menu nzMode="inline">
                <li nz-menu-item (click)="scrollToTarget('applicantPart')" nzOpen><span>Applicant</span></li>
                <li nz-menu-item (click)="scrollToTarget('beneficiaryPart')"><span>Beneficiary</span></li>
                <li nz-menu-item (click)="scrollToTarget('banksPart')"><span>Banks</span></li>
                <li nz-menu-item (click)="scrollToTarget('keyItemsPart')"><span>Key items</span></li>
                <li nz-menu-item (click)="scrollToTarget('shipmentPart')"><span>Shipment details</span></li>
                <li nz-menu-item (click)="scrollToTarget('documentPart')"><span>Document details</span></li>
                <li nz-menu-item (click)="scrollToTarget('messagePart')"><span>Leave message (optional)</span></li>
            </ul>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" style="width: 100%;">Send to Issuing Bank</button>
                </nz-form-control>
            </nz-form-item>
        </nz-card>
    </div>
</div>