<div *ngIf="isLoadingPage==false" nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="17">
        <div class="formAgreement">
            <nz-card nzTitle="Letter of Credit" style="margin-bottom: 16px;" id="letterOfCreditPart"
                [nzExtra]="extraTemplateLOC">
                <div style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Start Date</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{lcDetail.letterOfCredit.startDate}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Status</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{lcDetail.letterOfCredit.status}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24" *ngIf="lcDetail.letterOfCredit.rejectedReason">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Return reason</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{lcDetail.letterOfCredit.rejectedReason}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-card>

            <nz-card nzTitle="Sale Contract" style="margin-bottom: 16px;" id="saleContractDetailPart">
                <div style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Agreement end time</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{lcDetail.salseContract.deadlineInDate}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Status</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{lcDetail.salseContract.status}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="applicant">
                                <strong>Applicant</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{lcDetail.salseContract.importer}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="applicantLegalName">
                                <strong>Applicant legal name</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{lcDetail.salseContract.applicantLegalName}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="beneficiary">
                                <strong>Beneficiary</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.exporter}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Beneficiary legal name</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.beneficiaryLegalName}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="issuingBank">
                                <strong>Issuing bank</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.issuingBank}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="issuingBankCode">
                                <strong>Issuing Bank SWIFT/BIC code</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.issuingBankCode}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="advisingBank">
                                <strong>Advising bank</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.advisingBank}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="advisingBankCode">
                                <strong>Advising Bank SWIFT/BIC code</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.advisingBankCode}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="commodityName">
                                <strong>Commodity name</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.commodity}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="commodityValue">
                                <strong>Commodity value</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.price}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="24" class="info">
                            <nz-form-label nzFor="paymentMethod">
                                <strong>Payment method</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.paymentMethod}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <hr style="margin-top: 40px;">

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="24" class="info">
                            <nz-form-label nzFor="additionalInformation">
                                <strong>Additional information <em>(optional)</em></strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.additionalInfo || 'none'}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-card>

            <nz-card nzTitle="Files" style="margin-bottom: 16px;" [nzExtra]="extraTemplateBOE" id="billOfExchangePart">
                <div style="padding: 0 24px;">
                    <div *ngIf="files.invoice?.file_path" nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="24" class="info">
                            <nz-form-label nzFor="additionalInformation">
                                <strong>Invoice</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <a target="_blank" [href]="files.invoice?.file_path">{{ files.invoice?.file_path }}</a>
                            </nz-form-control>
                            <nz-button-group *ngIf="role == 'bank' && files.invoice?.status == 'user_uploaded'">
                                <button (click)="rejectDocumentINVOICE()"  nz-button>Reject</button>
                                <button (click)="acceptDocumentINVOICE()"  nz-button nzType="primary">Approve</button>
                            </nz-button-group>
                        </nz-form-item>

                    </div>
                    <div *ngIf="files.billOfExchange?.file_path" nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="24" class="info">
                            <nz-form-label nzFor="additionalInformation">
                                <strong>Bill of exchange</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <a target="_blank" [href]="files.billOfExchange?.file_path">{{
                                    files.billOfExchange?.file_path }}</a>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-button-group *ngIf="role == 'bank' && files.bill_of_exchange?.status == 'user_uploaded'">
                            <button (click)="rejectDocumentBOE()"  nz-button>Reject</button>
                            <button (click)="acceptDocumentBOE()"  nz-button nzType="primary">Approve</button>
                        </nz-button-group>
                    </div>
                </div>
            </nz-card>

        </div>
    </div>

    <div nz-col [nzSpan]="7">
        <div style="width: 100%; position: sticky; top: 70px;">
            <nz-card style="width:100%; margin: 0 0 12px 0;" nzTitle="Progress">
                <nz-steps *ngIf="progress <= 4 || progress > 5" [nzCurrent]=progress nzDirection="vertical"
                    nzSize="small">
                    <nz-step nzTitle="LC created" [nzDescription]="moreDetail1"></nz-step>
                    <ng-template #moreDetail1>
                        <a *ngIf="eventContract.LcCreatedEvent" style="color: rgba(0,0,0,.45); cursor: pointer;"
                            href="https://mumbai.polygonscan.com/tx/{{eventContract.LcCreatedEvent}}"
                            target="_blank">More
                            Detail</a>
                    </ng-template>
                    <nz-step nzTitle="Advising Bank accepted" [nzDescription]="moreDetail2"></nz-step>
                    <ng-template #moreDetail2>
                        <a *ngIf="eventContract.LcApprovedEvent" style="color: rgba(0,0,0,.45); cursor: pointer;"
                            nzHref="https://mumbai.polygonscan.com/tx/{{eventContract.LcApprovedEvent}}">More
                            Detail</a>
                    </ng-template>
                    <nz-step nzTitle="Buyer/Seller upload document" [nzDescription]="moreDetail3"></nz-step>
                    <ng-template #moreDetail3>
                        <a *ngIf="eventContract.docUploadedEvent" style="color: rgba(0,0,0,.45); cursor: pointer;"
                            nzHref="https://mumbai.polygonscan.com/tx/{{eventContract.docUploadedEvent}}">More
                            Detail</a>
                    </ng-template>
                    <nz-step nzTitle="Document accepted" [nzDescription]="moreDetail4"></nz-step>
                    <ng-template #moreDetail4>
                        <a *ngIf="eventContract.LcApprovedEvent" style="color: rgba(0,0,0,.45); cursor: pointer;"
                            nzHref="https://mumbai.polygonscan.com/tx/{{eventContract.LcApprovedEvent}}">More
                            Detail</a>
                    </ng-template>
                    <nz-step *ngIf="progress > 5" nzTitle="{{lcDetail.letterOfCredit.status}}"
                        [nzDescription]="moreDetail7"></nz-step>
                    <ng-template #moreDetail7>
                        <a *ngIf="eventContract.LcApprovedEvent" style="color: rgba(0,0,0,.45); cursor: pointer;"
                            nzHref="https://mumbai.polygonscan.com/tx/{{eventContract.LcStatusChangedEvent}}">More
                            Detail</a>
                    </ng-template>
                </nz-steps>
                <nz-steps *ngIf="progress == 5" [nzCurrent]=progress nzDirection="vertical" nzSize="small">
                    <nz-step nzTitle="LC created" [nzDescription]="moreDetail5"></nz-step>
                    <ng-template #moreDetail5>
                        <a *ngIf="eventContract.LcCreatedEvent" style="color: rgba(0,0,0,.45); cursor: pointer;"
                            nzHref="https://mumbai.polygonscan.com/tx/{{eventContract.LcCreatedEvent}}">More
                            Detail</a>
                    </ng-template>
                    <nz-step nzStatus="error" nzTitle="Advising Bank rejected" [nzDescription]="moreDetail6"></nz-step>
                    <ng-template #moreDetail6>
                        <a *ngIf="eventContract.LcRejectedEvent" style="color: rgba(0,0,0,.45); cursor: pointer;"
                            nzHref="https://mumbai.polygonscan.com/tx/{{eventContract.LcRejectedEvent}}">More
                            Detail</a>
                    </ng-template>
                </nz-steps>
            </nz-card>
            <nz-card style="width:100%;" nzTitle="Content" [nzExtra]="moreDetailTemp">
                <ng-template #moreDetailTemp>
                    <a [routerLink]="['/LCs/event-contract', lc_id]">Event Contract</a>
                </ng-template>
                <ul nz-menu nzMode="inline">
                    <li nz-menu-item (click)="scrollToTarget('letterOfCreditPart')"><span>Letter of Credit</span></li>
                    <li nz-menu-item (click)="scrollToTarget('saleContractDetailPart')" nzOpen><span>Sale
                            Contract</span>
                    </li>
                    <li nz-menu-item (click)="scrollToTarget('billOfExchangePart')"><span>Files</span></li>
                </ul>
                <div *ngIf="lcDetail.salseContract.advisingBank == username && lcDetail.letterOfCredit.status == 'created'"
                    class="button-group">
                    <div>
                        <button nz-button nzType="primary" (click)="approveLC()">Approve</button>
                    </div>
                    <div>
                        <button nz-button nzType="primary" nzDanger (click)="showModalRefuse()">
                            Return
                        </button>
                    </div>
                </div>
            </nz-card>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Do you want to return this agreement?" (nzOnCancel)="handleCancelRefuse()"
    (nzOnOk)="handleOkRefuse()" [nzOkDanger]="true">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="validateRefuseForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Reason</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                    <input nz-input formControlName="reason" id="reason" />
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleStatus" nzTitle="Change Status LC" (nzOnCancel)="handleCancelChangeStatus()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="validateChangeStatus" (ngSubmit)="submitFormChangeStatus()">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status"><strong>Status</strong></nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                    <nz-radio-group formControlName="status">
                        <label nz-radio nzValue="document_approved">DOCUMENT APPROVED</label>
                        <label nz-radio nzValue="document_rejected">DOCUMENT REJECTED</label>
                        <label nz-radio nzValue="delivery_sent">DELIVERY SENT</label>
                        <label nz-radio nzValue="delivery_received">DELIVERY RECEIVED</label>
                        <label nz-radio nzValue="fund_escrowed">FUND ESCROWED</label>
                        <label nz-radio nzValue="fund_reverted">FUND REVERTED</label>
                        <label nz-radio nzValue="fund_paid">FUND PAID</label>
                        <label nz-radio nzValue="ended">ENDED</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="handleOkChangeStatus()" [nzLoading]="isConfirmLoading">OK</button>
    </div>
</nz-modal>

<ng-template #extraTemplateBOE>
    <div (click)="detailDocument()" style="cursor: pointer; color: #1890ff; font-weight: 500;">
        Detail: <span nz-icon nzType="eye" nzTheme="outline"></span>
    </div>
</ng-template>

<ng-template #extraTemplateINVOICE>
</ng-template>

<ng-template #extraTemplateLOC>
    <!-- <button nz-button *ngIf="role == 'bank' && isAllApprove == true" nzType="primary" (click)="updateStatus()">
        <span nz-icon nzType="sync" nzTheme="outline"></span> Update Status LC
    </button> -->
    <button nz-button *ngIf="role == 'bank'" nzType="primary" (click)="showModalChangeStatus()">
        <span nz-icon nzType="sync" nzTheme="outline"></span> Update Status LC
    </button>
</ng-template>

<div *ngIf="isLoadingPage">
    <div class="example">
        <nz-spin nzSimple nzTip="Loading..."></nz-spin>
    </div>
</div>