<div *ngIf="isLoadingPage==false" nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="17">
        <div class="formAgreement">
            <nz-card nzTitle="SalesContract created event detail" style="margin-bottom: 16px;"
                id="GET_SALESCONTRACT_EVENT_DETAIL" [nzExtra]="extraTemplateLOC">
                <div *ngFor="let salesContractCreatedEvent of salesContractCreatedEvents" style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>SalesContract ID</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{salesContractCreatedEvent.salesContractID}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Block Timestamp (MM/DD/YYYY)</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{parseToDate(salesContractCreatedEvent.blockTimestamp*1000)}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Importer</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{salesContractCreatedEvent.importer}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Exporter</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{salesContractCreatedEvent.exporter}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Issuing Bank</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{salesContractCreatedEvent.issuingBank}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Advising Bank
                                </strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{salesContractCreatedEvent.advisingBank}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Commodity</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{salesContractCreatedEvent.commodity}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Price</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{salesContractCreatedEvent.price}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Payment Method
                                </strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{salesContractCreatedEvent.paymentMethod}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Additional Infomation
                                </strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{salesContractCreatedEvent.additionalInfo}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Deadline</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{parseToDate(salesContractCreatedEvent.deadline*1)}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Transaction Hash
                                </strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <a href="https://mumbai.polygonscan.com/tx/{{salesContractCreatedEvent.transactionHash}}"
                                    target="_blank">{{salesContractCreatedEvent.transactionHash}}</a>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <nz-divider *ngIf="salesContractCreatedEvents.lenght>0"></nz-divider>
                </div>
            </nz-card>

            <nz-card nzTitle="LC created event detail" style="margin-bottom: 16px;" id="GET_LC_CREATED_EVENT_DETAIL">
                <div *ngFor="let LcCreatedEvent of LcCreatedEvents" style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>LC ID</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{LcCreatedEvent.lcID}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Block Timestamp (MM/DD/YYYY)</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{parseToDate(LcCreatedEvent.blockTimestamp*1000)}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>LC Status
                                </strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{LcCreatedEvent.lcStatus}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Start Date (MM/DD/YYYY)
                                </strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{parseToDate(LcCreatedEvent.startDate*1)}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>SalesContract ID</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{LcCreatedEvent.salesContractID}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Invoice Hash</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <a>{{LcCreatedEvent.invoiceHash}}</a>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Bill Of Exchange Hash
                                </strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{LcCreatedEvent.billOfExchangeHash}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Bill of lading Hash</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{LcCreatedEvent.billOfLadingHash}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Other Doc Hash</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{LcCreatedEvent.otherDocHash}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Transaction Hash
                                </strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <a href="https://mumbai.polygonscan.com/tx/{{LcCreatedEvent.transactionHash}}"
                                    target="_blank">{{LcCreatedEvent.transactionHash}}</a>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <nz-divider *ngIf="LcCreatedEvents.lenght>0"></nz-divider>

                </div>
            </nz-card>

            <nz-card nzTitle="LC status changed event detail" style="margin-bottom: 16px;"
                id="GET_LC_STATUS_CHANGED_EVENT_DETAIL">
                <div *ngFor="let LcStatusChangedEvent of LcStatusChangedEvents" style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>LC ID</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{LcStatusChangedEvent.lcID}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Block Timestamp (MM/DD/YYYY)</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{parseToDate(LcStatusChangedEvent.blockTimestamp)}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Status</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{LcStatusChangedEvent.status}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Transaction Hash
                                </strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <a href="https://mumbai.polygonscan.com/tx/{{LcStatusChangedEvent.transactionHash}}"
                                    target="_blank">{{LcStatusChangedEvent.transactionHash}}</a>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <nz-divider *ngIf="LcStatusChangedEvents.lenght>0"></nz-divider>
                </div>
            </nz-card>

            <nz-card nzTitle="Docs uploaded event detail" style="margin-bottom: 16px;"
                id="GET_DOC_UPLOADED_EVENT_DETAIL">
                <div *ngFor="let docUploadedEvent of docUploadedEvents" style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>LC ID</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{docUploadedEvent.lcID}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Block Timestamp (MM/DD/YYYY)</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{parseToDate(docUploadedEvent.blockTimestamp)}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Invoice</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{docUploadedEvent.invoice || 'none'}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>BoE</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{docUploadedEvent.BoE || 'none'}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>BoL</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{docUploadedEvent.BoL || 'none'}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Other</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{docUploadedEvent.other || 'none'}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Transaction Hash
                                </strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <a href="https://mumbai.polygonscan.com/tx/{{docUploadedEvent.transactionHash}}"
                                    target="_blank">{{docUploadedEvent.transactionHash}}</a>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <nz-divider *ngIf="docUploadedEvents.lenght>0"></nz-divider>
                </div>
            </nz-card>

            <nz-card nzTitle="LC approved event detail" style="margin-bottom: 16px;" id="GET_LC_APPROVED_EVENT_DETAIL">
                <div *ngFor="let LcApprovedEvent of LcApprovedEvents" style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>LC ID</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{LcApprovedEvent.lcID}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Block Timestamp (MM/DD/YYYY)</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{parseToDate(LcApprovedEvent.blockTimestamp)}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Transaction Hash
                                </strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <a href="https://mumbai.polygonscan.com/tx/{{LcApprovedEvent.transactionHash}}"
                                    target="_blank">{{LcApprovedEvent.transactionHash}}</a>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <nz-divider *ngIf="LcApprovedEvents.lenght>0"></nz-divider>

                </div>
            </nz-card>

            <nz-card nzTitle="LC rejected event detail" style="margin-bottom: 16px;" id="GET_LC_REJECTED_EVENT_DETAIL">
                <div *ngFor="let LcRejectedEvent of LcRejectedEvents" style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>LC ID</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{LcRejectedEvent.lcID}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Block Timestamp (MM/DD/YYYY)</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{parseToDate(LcRejectedEvent.blockTimestamp)}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Transaction Hash
                                </strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <a href="https://mumbai.polygonscan.com/tx/{{LcRejectedEvent.transactionHash}}"
                                    target="_blank">{{LcRejectedEvent.transactionHash}}</a>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <nz-divider *ngIf="LcRejectedEvents.lenght>0"></nz-divider>
                </div>
            </nz-card>
        </div>
    </div>

    <div nz-col [nzSpan]="7">
        <nz-card style="width:100%;width: 100%;
        position: sticky;
        top: 70px;" nzTitle="Content">
            <ul nz-menu nzMode="inline">
                <li nz-menu-item (click)="scrollToTarget('GET_SALESCONTRACT_EVENT_DETAIL')"><span>SalesContract created
                        event detail</span></li>
                <li nz-menu-item (click)="scrollToTarget('GET_LC_CREATED_EVENT_DETAIL')" nzOpen><span>LC created event
                        detail</span>
                </li>
                <li nz-menu-item (click)="scrollToTarget('GET_LC_STATUS_CHANGED_EVENT_DETAIL')"><span>LC status changed
                        event detail</span></li>
                <li nz-menu-item (click)="scrollToTarget('GET_DOC_UPLOADED_EVENT_DETAIL')"><span>Docs uploaded event
                        detail</span>
                </li>
                <li nz-menu-item (click)="scrollToTarget('GET_LC_APPROVED_EVENT_DETAIL')"><span>LC approved event
                        detail</span></li>
                <li nz-menu-item (click)="scrollToTarget('GET_LC_REJECTED_EVENT_DETAIL')"><span>LC rejected event
                        detail</span></li>
            </ul>
        </nz-card>
    </div>
</div>

<div *ngIf="isLoadingPage">
    <div class="example">
        <nz-spin nzSimple nzTip="Loading..."></nz-spin>
    </div>
</div>