<div class="content-main">
    <h5 style="text-align: center;">Content</h5>

    <form nz-form [formGroup]="validateNewAgreementForm" (ngSubmit)="submitForm()" class="formAgreement">
        <div nz-row [nzGutter]="24">
            <nz-form-item nz-col [nzSpan]="12">
                <nz-form-label nzFor="date">
                    <strong>Agreement commencement time (DD/MM/YYYY)</strong>
                </nz-form-label>
                <nz-form-control [nzSpan]="8">
                    <p>{{validateNewAgreementForm.get('date').value}}</p>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="12">
                <nz-form-label nzFor="agreementID">
                    <strong>Agreement ID</strong>
                </nz-form-label>
                <nz-form-control [nzSpan]="8">
                    <p>{{validateNewAgreementForm.get('agreementID').value}}</p>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row [nzGutter]="24">
            <nz-form-item nz-col [nzSpan]="12">
                <nz-form-label nzFor="applicant">
                    <strong>Applicant</strong>
                </nz-form-label>
                <nz-form-control [nzSpan]="8">
                    <p>{{validateNewAgreementForm.get('applicant').value}}</p>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="12">
                <nz-form-label nzFor="applicantLegalName">
                    <strong>Applicant legal name</strong>
                </nz-form-label>
                <nz-form-control [nzSpan]="8">
                    <p>{{validateNewAgreementForm.get('applicantLegalName').value}}</p>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row [nzGutter]="24">
            <nz-form-item nz-col [nzSpan]="12">
                <nz-form-label nzRequired nzFor="beneficiary">
                    <strong>Beneficiary</strong>
                </nz-form-label>
                <nz-form-control nzErrorTip="Please input your beneficiary">
                    <nz-select style="min-width: 350px;" nzShowSearch nzAllowClear
                        nzPlaceHolder="Select your beneficiary" formControlName="beneficiary">
                        <nz-option *ngFor="let item of listCustomer" [nzLabel]="item" [nzValue]="item"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="12">
                <nz-form-label nzFor="date">
                    <strong>Beneficiary legal name</strong>
                </nz-form-label>
                <nz-form-control>
                    <p>{{validateNewAgreementForm.get('beneficiaryLegalName').value}}</p>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row [nzGutter]="24">
            <nz-form-item nz-col [nzSpan]="12">
                <nz-form-label nzRequired nzFor="issuingBank">
                    <strong>Issuing bank</strong>
                </nz-form-label>
                <nz-form-control nzErrorTip="Please input your Issuing bank">
                    <nz-select style="min-width: 350px;" nzShowSearch nzAllowClear nzPlaceHolder="Select a bank"
                        formControlName="issuingBank">
                        <nz-option *ngFor="let item of listBank" [nzLabel]="item" [nzValue]="item"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="12">
                <nz-form-label nzFor="issuingBankCode">
                    <strong>Issuing Bank SWIFT/BIC code</strong>
                </nz-form-label>
                <nz-form-control>
                    <p>{{validateNewAgreementForm.get('issuingBankCode').value}}</p>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row [nzGutter]="24">
            <nz-form-item nz-col [nzSpan]="12">
                <nz-form-label nzRequired nzFor="advisingBank">
                    <strong>Advising bank</strong>
                </nz-form-label>
                <nz-form-control [nzErrorTip]="errorTpl">
                    <nz-select style="min-width: 350px;" nzShowSearch nzAllowClear nzPlaceHolder="Select a bank"
                        formControlName="advisingBank">
                        <nz-option *ngFor="let item of listBank" [nzLabel]="item" [nzValue]="item"></nz-option>
                    </nz-select>
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">Please input your Issuing bank</ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">
                            The Advising bank must be different from Issuing bank
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="12">
                <nz-form-label nzFor="advisingBankCode">
                    <strong>Advising Bank SWIFT/BIC code</strong>
                </nz-form-label>
                <nz-form-control>
                    <p>{{validateNewAgreementForm.get('advisingBankCode').value}}</p>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row [nzGutter]="24">
            <nz-form-item nz-col [nzSpan]="12">
                <nz-form-label nzRequired nzFor="commodityName">
                    <strong>Commodity name</strong>
                </nz-form-label>
                <nz-form-control nzErrorTip="Please input your commodity name">
                    <input type="text" nz-input formControlName="commodityName"
                        placeholder="Please input your commodity name" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="12" style="margin-bottom: 0 !important;">
                <nz-form-label nzRequired nzFor="date">
                    <strong>Commodity value</strong>
                </nz-form-label>
                <nz-form-control nzErrorTip="Please input amount">
                    <nz-input-group [nzAddOnAfter]="addOnAfterTemplate" style="width: 50% !important;">
                        <ng-template #addOnAfterTemplate>
                            <nz-select formControlName="currencyUnit" style="min-width: 80px !important;">
                                <nz-option *ngFor="let item of currencyUnitList" [nzValue]="item"
                                    [nzLabel]="item"></nz-option>
                            </nz-select>
                        </ng-template>
                        <input style="min-width: 270px !important;" nz-input type="number" placeholder="0"
                            formControlName="amount" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row [nzGutter]="24">
            <nz-form-item nz-col [nzSpan]="12">
                <nz-form-label nzRequired nzFor="paymentMethod">
                    <strong>Payment method</strong>
                </nz-form-label>
                <nz-form-control nzErrorTip="Please choose your payment method">
                    <nz-radio-group formControlName="paymentMethod">
                        <label nz-radio nzValue="Via bank">Via bank</label>
                        <label nz-radio nzValue="Digital money">Digital money</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col [nzSpan]="12">
                <nz-form-label nzRequired nzFor="deadline">
                    <strong>Deadline</strong>
                </nz-form-label>
                <nz-form-control nzErrorTip="Please choose deadline">
                    <nz-date-picker [nzPlaceHolder]="'Select date'" formControlName="deadline"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-row [nzGutter]="24">
            <nz-form-item nz-col [nzSpan]="12">
                <nz-form-label nzFor="requiredDocument">
                    <strong>Required documents</strong>
                </nz-form-label>
                <nz-form-control>
                    <nz-checkbox-wrapper style="width: 100%;">
                        <div><label nz-checkbox nzValue="invoice"
                                formControlName="invoice">Invoice</label></div>
                        <div>
                            <label nz-checkbox nzValue="otherDocument" formControlName="otherDocument">
                                Other document
                            </label>
                            <input placeholder="Enter list other necessary documents" nz-input *ngIf="validateNewAgreementForm.value.otherDocument"
                             style="min-width: 100px;" formControlName="listOtherDocument" type="text">
                        </div>
                    </nz-checkbox-wrapper>
                </nz-form-control>
            </nz-form-item>
        </div>

        <hr style="margin-top: 40px;">

        <div nz-row [nzGutter]="24">
            <nz-form-item class="info">
                <nz-form-label nzFor="additionalInformation">
                    <strong>Additional information <em>(optional)</em></strong>
                </nz-form-label>
                <br>
                <nz-form-control style="min-width: 500px;" nzErrorTip="Please choose your payment method">
                    <textarea nz-input formControlName="additionalInformation"
                        placeholder="Lorem Ipsum is simply dummy text of the printing and "
                        [nzAutosize]="{ minRows: 3, maxRows: 3 }"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
        <nz-divider></nz-divider>

        <nz-form-item style="display: flex; justify-content: center; ">
            <nz-form-control [nzSpan]="8" [nzOffset]="4">
                <button *ngIf="isLoading == false" nz-button nzType="primary"><span nz-icon nzType="send"
                        nzTheme="outline">
                    </span> Send to seller</button>
                <button *ngIf="isLoading" nz-button nzType="primary" nzLoading>
                    Send to seller
                </button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>