<app-header [pageName]="'Login'">
</app-header>

<form nz-form [formGroup]="validateFormLogin" class="login-form" (ngSubmit)="submitForm()">
  <div class="items">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your mail!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="username" placeholder="E-mail" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot" [routerLink]="'#'">Forgot password?</a>
      </div>
    </div>
    <p *ngIf="isLoginFailed" style="color: #ff4d4f;">Password or Username is wrong! Login Failed!</p>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" *ngIf="isLoading == false">Log
      in</button>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" nzLoading *ngIf="isLoading">Log
      in</button>
    <div style="text-align: center;">
      Or <br>
      <a [routerLink]="'/auth/signup'">Register now!</a>
    </div>
  </div>
</form>