.login-form {
  max-width: 100%;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
}

.items {
  min-width: 300px;
  /* min-width: 251px; */
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

