<nz-card *ngIf="!isLoadingPage" [nzTitle]="extraTemplate2" [nzExtra]="extraTemplate1">
    <nz-tabset [nzTabPosition]="nzTabPosition" [(nzSelectedIndex)]="selectedIndex" (nzSelectChange)="log([$event])">
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name" [nzDisabled]="tab.disabled"
            (nzSelect)="log(['select', tab])" (nzClick)="log(tabs)"
            (nzContextmenu)="log(['contextmenu', tab])" (nzDeselect)="log(['deselect', tab])">
            <div *ngIf="tab.data.length > 0">
                <nz-descriptions [nzColumn]="{ xxl: 3, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }" nzTitle="Content">
                    <nz-descriptions-item *ngFor="let field of tab.data" [nzTitle]="field.label">
                        {{ field.value || 'none'}}
                    </nz-descriptions-item>
                </nz-descriptions>

                <!-- <div *ngIf="tab.table && tab.table.length > 0">
                    <p>Table:</p>
                    <nz-table>
                        <tr *ngFor="let row of tab.table">
                            <td *ngFor="let cell of row.values">{{ cell }}</td>
                        </tr>
                    </nz-table>
                </div> -->
                <div *ngIf="tab.table && tab.table.length > 0">
                    <nz-table [nzNoResult]="' '">
                        <tbody>
                            <!-- Dữ liệu từng cột -->
                            <tr *ngFor="let row of tab.table; let i = index">
                                <td *ngFor="let cell of row.values">{{ cell }}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
            <div *ngIf="tab.data.length == 0">No content</div>
        </nz-tab>
    </nz-tabset>
</nz-card>
<ng-template #extraTemplate1>
    <nz-input-number style="float:right;" [nzMin]="0" [nzMax]="29" [(ngModel)]="selectedIndex"></nz-input-number>
</ng-template>

<ng-template #extraTemplate2>
    <nz-radio-group [(ngModel)]="nzTabPosition" style="margin-bottom: 8px;">
        <label nz-radio-button [nzValue]="'left'">Vertical</label>
        <label nz-radio-button [nzValue]="'top'">Horizontal</label>
    </nz-radio-group>
</ng-template>

<div *ngIf="isLoadingPage">
    <div class="example">
        <nz-spin nzSimple nzTip="Loading..."></nz-spin>
    </div>
</div>