<div [class]="current == 0 ? 'steps-action one-btn' : 'steps-action btn-group-step'">
    <button nz-button nzType="default" style="margin-right: 1rem; border: none; color: #faad14; " (click)="pre()"
        *ngIf="current > 0">
        <span>
            <i style="margin-right: 0.5rem;" class="fa-solid fa-arrow-left"></i>
            <span>Quay lại</span>
        </span>
    </button>
    <button nz-button style="border: none; color: #faad14; " nzType="default" (click)="next()" [nzLoading]="processing"
        *ngIf="current < 2">
        <span>
            <i style="margin-right: 0.5rem;" class="fa-solid fa-arrow-right"></i>
            <span>Tiếp tục</span>
        </span>
    </button>
    <button *ngIf="!isSubmitted && current >= 2" (click)="requestSubmitCourse()"
        style="background-color: #faad14; border: none;" nz-button nzType="primary" (click)="done()"
        [nzLoading]="processing">
        <i class="fa-solid fa-lock-open" style="margin-right: 0.5rem;"></i>
        <span>Yêu cầu mở khóa học</span>
    </button>

    <button (click)="requestUnSubmitCourse()" style="background-color: #faad14; border: none;" nz-button
        nzType="primary" (click)="done()" [nzLoading]="processing" *ngIf="current >= 2 && isSubmitted">
        <i class="fa-solid fa-lock" style="margin-right: 0.5rem;"></i>
        <span>Hủy yêu cầu mở khóa học</span>
    </button>
</div>

<nz-steps [nzCurrent]="current" (nzIndexChange)="onIndexChange($event)">
    <nz-step [nzTitle]="'Tổng quan khóa học'" [nzDescription]="''" [nzStatus]="steps[0].status"></nz-step>
    <nz-step [nzTitle]="'Danh sách chủ đề/chương'" [nzDescription]="''" [nzStatus]="steps[1].status"></nz-step>
    <nz-step [nzTitle]="'Bài học'" [nzDescription]="''" [nzPercentage]="steps[2].percentage"
        [nzStatus]="steps[2].status"></nz-step>
</nz-steps>

<div class="steps-content">
    <div *ngIf="current === 0">
        <!-- Nội dung của tab 1 -->
        <div style="margin-top: 1.7rem;">
            <form nz-form style="max-width: 100%;" [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <div>
                    <form nz-form style="max-width: 100%;" [formGroup]="validateForm" (ngSubmit)="submitForm()">
                        <div *ngIf="!courseAvatar"
                            style="display: flex; width: 100%; align-items: center; justify-content: center;">
                            <div class="img-upload" style="max-width: 75%;">
                                <input style="display: none;" type="file" class="file-input"
                                    (change)="onFileChange($event)" #file>
                                <button nz-button class="file-input" (click)="file.click()" style="margin-left: 1rem;">
                                    <span><i style="margin-right: 1rem;" class="fa-regular fa-image"></i></span>
                                    Upload ảnh khóa học
                                </button>
                            </div>
                        </div>

                        <div *ngIf="courseAvatar"
                            style="display: flex; width: 100%; align-items: center; justify-content: center;">
                            <img style="width: 60%; border-radius: 8px; margin-bottom: 1rem; margin-right: 1rem;"
                                [src]="courseAvatar" alt="">
                            <div>
                                <input style="display: none;" type="file" class="file-input"
                                    (change)="onFileChange($event)" #file>
                                <button nz-button class="file-input" (click)="file.click()" style="display: flex;">
                                    <div><i style="margin-right: 1rem;" class="fa-regular fa-image"></i></div>
                                    Upload lại ảnh khóa học
                                </button>
                            </div>
                        </div>

                        <div class="ant-row">
                            <div class="ant-col ant-col-24">
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" nzFor="COURSE_NAME" nzRequired>Tên khóa
                                        học</nz-form-label>
                                    <nz-form-control [nzSm]="14">
                                        <input nz-input formControlName="COURSE_NAME" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div class="ant-row">
                            <div class="ant-col ant-col-24">
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" nzFor="DESCRIPTION" nzRequired>Mô tả</nz-form-label>
                                    <nz-form-control [nzSm]="14">
                                        <editor [init]="editorConfig" formControlName="DESCRIPTION"></editor>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div class="ant-row">
                            <div class="ant-col ant-col-24">
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" nzFor="CATEGORY_NAME" nzRequired>Môn học</nz-form-label>
                                    <nz-form-control [nzSm]="14">
                                        <nz-select formControlName="CATEGORY_NAME">
                                            <nz-option *ngFor="let item of categoryList" [nzLabel]="item.label"
                                                [nzValue]="item.value"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div class="ant-row">
                            <div class="ant-col ant-col-24">
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" nzFor="TYPE_COURSE" nzRequired>Hình thức khóa
                                        học</nz-form-label>
                                    <nz-form-control [nzSm]="14">
                                        <nz-select formControlName="TYPE_COURSE">
                                            <nz-option *ngFor="let item of courseTypeList" [nzLabel]="item.label"
                                                [nzValue]="item.value"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div class="ant-row">
                            <div class="ant-col ant-col-24">
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" nzFor="priceOption" nzRequired>Giá</nz-form-label>
                                    <nz-form-control [nzSm]="6" style="margin-right: 1rem;">
                                        <input type="number" nz-input placeholder="Giá gốc" formControlName="PRICE"
                                            type="number" />
                                    </nz-form-control>
                                    <nz-form-control [nzSm]="6">
                                        <input type="number" nz-input placeholder="Giá giảm" formControlName="DISCOUNT"
                                            type="number" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div class="ant-row">
                            <div class="ant-col ant-col-24">
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" nzFor="priceOption">Ngày</nz-form-label>
                                    <nz-form-control [nzSm]="6">
                                        <nz-range-picker formControlName="DATE"
                                            (ngModelChange)="onChange($event)"></nz-range-picker>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div class="ant-row">
                            <div class="ant-col ant-col-24">
                                <nz-form-item>
                                    <nz-form-control [nzSm]="14" [nzOffset]="6">
                                        <button nz-button nzType="default" style="margin-right: 1rem;"
                                            (click)="validateForm.reset()">Hủy</button>
                                        <button nz-button nzType="primary" [disabled]="!validateForm.valid"
                                            [nz-tooltip]="!validateForm.valid?'Hãy điền đủ các thông tin cần thiết để thực hiện lưu':''"
                                            htmlType="submit">Lưu
                                            khóa học</button>
                                        <!-- <button nz-button nzType="primary" htmlType="submit">Lưu khóa học</button> -->
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </form>
                </div>
            </form>
        </div>

    </div>
    <div style="margin-top: 1.7rem;" *ngIf="current === 1">
        <!-- Nội dung của tab 2 -->
        <form nz-form style="max-width: 100%;" [formGroup]="validateForm2" (ngSubmit)="submitForm2()">
            <nz-form-item *ngFor="let control of listOfControl; let i = index">
                <nz-form-label [nzXs]="24" [nzSm]="4" *ngIf="i === 0" [nzFor]="control.controlInstance">
                    Tên chủ đề/chương
                </nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="20" [nzOffset]="i === 0 ? 0 : 4" nzErrorTip="Hãy điền thông tin.">
                    <div style="display: flex;
                    align-items: center;
                    justify-content: space-between;">
                        <input class="passenger-input" nz-input style="margin-right: 0.5rem;"
                            placeholder="Điền tên chương/chủ đề theo thứ tự từ trên xuống dưới" [attr.id]="control.id"
                            [formControlName]="control.controlInstance" />
                        <span nz-icon nzType="minus-circle-o" class="dynamic-delete-button"
                            (click)="removeField(control, $event)"></span>
                    </div>
                </nz-form-control>
            </nz-form-item>
            <div style="display: flex; align-items: center;
    justify-content: center;">
                <nz-form-item style="margin-right: 1rem; ">
                    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
                        <button style="margin-right: 1rem; " nz-button nzType="dashed" class="add-button"
                            (click)="addField($event)">
                            <span nz-icon nzType="plus"></span>
                            Thêm chủ đề/chương
                        </button>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
                        <button nz-button nzType="primary">Lưu</button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </form>
    </div>
    <div style="margin-top: 1.7rem;" *ngIf="current === 2">
        <!-- Nội dung của tab 3 -->
        <form nz-form style="max-width: 100%;" [formGroup]="validateForm3" (ngSubmit)="submitForm3()">
            <div *ngFor="let control of lessonControls; let i = index"
                style="display: flex; align-items: flex-start; justify-content: space-between; width: 100%;">
                <div style="border: 1px solid #1890ff;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;">
                    <span style="color: #1890ff;">{{i+1}}</span>
                </div>
                <div style="width: 100%;">
                    <div class="ant-row">
                        <div class="ant-col ant-col-24">
                            <nz-form-item>
                                <nz-form-label [nzSm]="6" nzFor="CATEGORY_NAME" nzRequired>Tên chủ
                                    đề/chương</nz-form-label>
                                <nz-form-control [nzSm]="14">
                                    <nz-select [formControlName]="'LESSON_PARENT_' + i">
                                        <nz-option *ngFor="let item of listLessonParent" [nzLabel]="item.name"
                                            [nzValue]="item.id"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div class="ant-row">
                        <div class="ant-col ant-col-24">
                            <nz-form-item>
                                <nz-form-label [nzSm]="6" nzFor="title" nzRequired>Tên bài học</nz-form-label>
                                <nz-form-control [nzSm]="14">
                                    <input nz-input [formControlName]="'LESSON_NAME_' + i" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div *ngIf="!validateForm3.get('LINK_VIDEO_' + i).value"
                        style="display: flex; width: 100%; align-items: center; justify-content: center;">
                        <div class="img-upload"
                            style="max-width: 75%; display: flex; width: 100%; align-items: center; justify-content: center;">
                            <div style="display: flex; width: 100%; align-items: center; justify-content: center;">
                                <button
                                    style="background-color: #fff; color: #000; border: none; line-height: 1.5715; position: relative; font-weight: 400; white-space: nowrap; text-align: center; border: 1px solid #d9d9d9; box-shadow: 0 2px 0 rgba(0, 0, 0, .015); cursor: pointer; transition: all .3s cubic-bezier(.645,.045,.355,1); -webkit-user-select: none; user-select: none; height: 32px; padding: 4px 15px; border-radius: 1rem; background: #fff;"
                                    id="upload_widget" (click)="openWidget(i)" class="cloudinary-button">
                                    <span><i style="margin-right: 1rem;" class="fa-regular fa-image"></i></span>
                                    Upload video bài giảng
                                </button>
                                <script src="https://widget.cloudinary.com/v2.0/global/all.js"
                                    type="text/javascript"></script>
                                <script src="upload_widget.js" type="text/javascript"></script>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 0 1rem; display: flex; align-items:center; justify-content: center;">
                        <video *ngIf="validateForm3.get('LINK_VIDEO_' + i).value" #videoPlayer width="50%" controls
                            style="border-radius: 15px;width: 25%; margin-bottom: 2rem;">
                            <source [src]="validateForm3.get('LINK_VIDEO_' + i).value" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                    </div>

                    <div class="ant-row">
                        <div class="ant-col ant-col-24">
                            <nz-form-item>
                                <nz-form-label [nzSm]="6" nzFor="title" nzRequired>Thời lượng - Thứ tự bài
                                    học</nz-form-label>
                                <nz-form-control [nzSm]="6" style="margin-right: 1rem;">
                                    <nz-input-group [nzSuffix]="suffixTemplate">
                                        <input type="number" placeholder="Thời lượng" [min]="0" nz-input
                                            [formControlName]="'DURATION_' + i" />
                                    </nz-input-group>
                                    <ng-template #suffixTemplate>
                                        <span style="margin-left: 1rem;">phút</span>
                                    </ng-template>

                                </nz-form-control>
                                <nz-form-control [nzSm]="6">
                                    <input type="number" placeholder="Thứ tự bài học" [min]="0" nz-input
                                        [formControlName]="'ORDER_' + i" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>

                <div class="ant-row">
                    <div class="ant-col ant-col-24">
                        <nz-form-item>
                            <nz-form-control [nzSm]="14" [nzOffset]="6">
                                <button nz-button nzType="default" (click)="removeLesson(i)"
                                    style="margin-right: 1rem; border: none;">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </button>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div style="display: flex; align-items: center;
    justify-content: center;">
                <nz-form-item style="margin-right: 1rem;">
                    <nz-form-control [nzSm]="14" [nzOffset]="6" style="display: flex; align-items: center;">
                        <button nz-button nzType="dashed" (click)="addLesson()">+ Thêm bài học</button>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control [nzSm]="14" [nzOffset]="6" style="display: flex; align-items: center;">
                        <button nz-button nzType="primary" [disabled]="!validateForm3.valid" htmlType="submit">Lưu tất
                            cả bài học</button>
                    </nz-form-control>
                </nz-form-item>
            </div>

        </form>

        <ng-container *ngIf="i < lessonControls.length - 1">
            <div style="height: 1px; background-color: #d9d9d9; margin: 1rem 0; width: 100%;"></div>
        </ng-container>
    </div>
    <!-- <div style="margin-top: 1.7rem;" *ngIf="current === 3">
        <form [formGroup]="faqForm">
            <div formArrayName="lessonPanelArray">
                <div *ngFor="let lessonPanel of lessonPanelArray.controls; let i = index" [formGroupName]="i">
                    <h3 style="font-size: 1.2rem;">{{lessons[i].LESSON_NAME}} (ID: {{lessons[i].ID_LESSON}})</h3>
                    <div>
                        <button style="margin-bottom: 1rem" nz-button nzType="dashed" (click)="addExercise(i)">
                            <i style="margin-right: 0.5rem;" class="fa-solid fa-plus"></i>
                            Thêm bài tập</button>
                        <div formArrayName="exercises">
                            <div *ngFor="let exercise of lessonPanel.get('exercises').controls; let j = index"
                                [formGroupName]="j">
                                <div>
                                    <nz-form-item>
                                        <nz-form-label [nzFor]="'exercise_' + j" [nzSm]="6" nzRequired>Tên bài
                                            tập</nz-form-label>
                                        <nz-form-control style="margin-right: 1rem;" [nzSm]="14">
                                            <input nz-input formControlName="exerciseName" />
                                        </nz-form-control>
                                        <button style=" border: none;" nz-tooltip nzTooltipTitle="Xóa bài tập" nz-button
                                        nzType="dashed" (click)="removeExercise(i, j)">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </button>
                                    </nz-form-item>
                                </div>
                                <div style="display: flex;
                                justify-content: center;
                                flex-direction: row;
                                align-items: center;">
                                    <button style="    margin-bottom: 1rem; margin-right: 1rem;" nz-button
                                        nzType="dashed" (click)="addQuestion(i, j, 'essay')">Thêm câu hỏi tự
                                        luận</button>
                                    <button style="    margin-bottom: 1rem; margin-right: 1rem;" nz-button nzType="dashed"
                                        (click)="addQuestion(i, j, 'MCQ')">Thêm câu hỏi trắc
                                        nghiệm</button>
                                    <button style="    margin-bottom: 1rem;"   nz-button nzType="dashed" (click)="removeQuestion(i, j, k)">
                                        Xóa câu hỏi
                                    </button>
                                </div>
                                <div>
                                    <div formArrayName="questions">
                                        <div *ngFor="let question of exercise.get('questions').controls; let k = index"
                                            [formGroupName]="k">
                                            <nz-form-item>
                                                <nz-form-label [nzFor]="'question_' + k" [nzSm]="6" nzRequired>Nội dung
                                                    câu hỏi</nz-form-label>
                                                <nz-form-control [nzSm]="14">
                                                    <input nz-input formControlName="questionText" />
                                                </nz-form-control>
                                            </nz-form-item>
                                            <div *ngIf="question.get('questionType').value === 'MCQ'">
                                                <div formArrayName="options">
                                                    <div
                                                        *ngFor="let option of question.get('options').controls; let l = index">
                                                        <nz-form-item>
                                                            <nz-form-label [nzFor]="'option_' + l" [nzSm]="6"
                                                                nzRequired>Đáp
                                                                án {{ l + 1 }}</nz-form-label>
                                                            <nz-form-control [nzSm]="14">
                                                                <input nz-input [formControlName]="l" />
                                                            </nz-form-control>
                                                        </nz-form-item>
                                                    </div>
                                                </div>
                                            </div>
                                            <nz-form-item>
                                                <nz-form-labe6 [nzFor]="'answer_' + k" [nzSm]="6" nzRequired>Đáp
                                                    án</nz-form-labe6>
                                                <nz-form-control [nzSm]="14">
                                                    <input nz-input formControlName="answer" />
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button style="margin-top: 1rem; margin-bottom: 1rem;" nz-button nzType="dashed"
                            (click)="addAttachment(i)">
                            <i style="margin-right: 0.5rem;" class="fa-solid fa-plus"></i>
                            Thêm tài liệu đính kèm</button>
                        <div formArrayName="attachments">
                            <div *ngFor="let attachment of lessonPanel.get('attachments').controls; let k = index">
                                <nz-form-item>
                                    <nz-form-label [nzFor]="'attachment_' + k" [nzSm]="8" nzRequired>Tài liệu đính
                                        kèm</nz-form-label>
                                    <nz-form-control [nzSm]="14">
                                        <input nz-input [formControlName]="k" />
                                    </nz-form-control>
                                    <button nz-tooltip nzTooltipTitle="Xóa tài liệu"
                                        style="margin-left: 1rem; border: none;" nz-button nzType="dashed"
                                        (click)="removeAttachment(i, k)"><i
                                            class="fa-solid fa-circle-minus"></i></button>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button nz-button nzType="primary" htmlType="submit">Lưu thông tin chi tiết bài học</button>
        </form>
    </div> -->
</div>

<nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" [nzFileList]="   fileList">
</nz-upload>