<div class="data-table">
    <div class="content-main">
        <h5 style="text-align: center;">New request</h5>
    </div>

    <nz-table #basicTable [nzData]="listOfData">
        <thead>
          <tr>
            <th>STT</th>
            <th>Importer</th>
            <th>Issuing Bank</th>
            <th>Advising Bank</th>
            <th>Commodity</th>
            <th>Price</th>
            <th>Payment method:</th>
            <th>Detail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.commodity }}</td>
            <td>{{ data.value }}</td>
            <td>{{ data.applicant }}</td>
            <td>
              <!-- <a><span style="color: #2F54EB;" nz-icon nzType="eye" nzTheme="outline" onclick="detail(data.id)"></span></a> -->
              <a><span style="color: #2F54EB;" nz-icon nzType="eye" nzTheme="outline" 
                [routerLink]="['/agreements', data.id]"></span></a>
            </td>
          </tr>
        </tbody>
      </nz-table>
</div>