<div class="group-47875__180145-15789">
    <svg width="5rem" height="5rem" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_b_180145_15789)">
            <circle cx="2.5rem" cy="2.5rem" r="2.5rem" fill="white" fill-opacity="0.4" />
            <circle cx="2.5rem" cy="2.5rem" r="39.5" stroke="white" stroke-opacity="0.5" />
        </g>
        <path d="M52 40L34 50.3923V29.6077L52 40Z" fill="white" />
        <defs>
            <filter id="filter0_b_180145_15789" x="-24" y="-24" width="8rem" height="8rem" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feGaussianBlur in="BackgroundImageFix" stdDeviation="12" />
                <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_180145_15789" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_180145_15789" result="shape" />
            </filter>
        </defs>
    </svg>
</div>